 <div class="languages">
      {{#each languages}}
        <a href='?lang={{this.code}}'>
          <p class='language'>{{this.short}}</p>
       </a>
      {{/each}}
    </div>
    <div class="header">
    <a href="/?lang={{chosenLang}}" class="maintitle">
    <div class="crop">
      <img class="coverpicture" src="https://images.contentful.com/tjuqohmohv21/1F5RknZAF6kA2aKCkgWG0q/a94714a36de929325e0d6e30dcd6ff6a/Hildesheim_Silhouette_1_gimp.png">

    </div>
    <h1>{{frontPage.title}}</h1></a>
