*{
  font-family: 'Varela Round', sans-serif;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.header{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
/* front page */
.maintitle{
  width: 100%;
  font-weight: 901;
  text-align: center;
  color: black;
  /*margin: 0 30px;*/
}

.maintitle h1{
  font-size: 4em;
  border-bottom: 2px solid black;
  border-color: 4190ad;
  width: 60%;
  margin: 20px auto 0 auto;
  justify-content: center;
  padding-bottom: 0.65em;
}

.description{
  width: 80%;
  margin-bottom: 50px;
  font-size: 1.5em;
  margin: 40px auto 40px auto;
  text-align: center;
}

.coverpicture{
  width: 100%;
}


/* general */
a,
a:hover {
  color: inherit;
  text-decoration: inherit;
}

.categories,
.offerings{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top:40px;
}

.category{
  width: 300px;
  height:300px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  border-radius: 2%;
  border: 2px solid;
  -webkit-box-shadow: -9px 11px 42px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: -9px 11px 42px -15px rgba(0,0,0,0.75);
  box-shadow: -9px 11px 42px -15px rgba(0,0,0,0.75);
}

.institution{
  display: none;
}

 .icon,
 .name{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  color: black;
}

.icon{
  align-items: flex-start;
  color: black;
}

.category:hover{
  border-width: 3px;
  font-weight: 900;
}

.name{
  font-size: 30px;
}

.offering{
  margin: 20px;
  padding: 20px;
  width: 80%;
  /*-webkit-box-shadow: -9px 11px 42px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: -9px 11px 42px -15px rgba(0,0,0,0.75);*/
  box-shadow: -9px 11px 42px -15px rgba(0,0,0,0.75);
  border: 2px solid;
  border-radius: 7px;
}

.close{
  margin: 0;
  padding-right: 10px;
}

.offeringsFirst{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.offeringFirst{
  width: 80%;
  margin: 20px;
  padding: 20px;
  -webkit-box-shadow: -9px 11px 42px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: -9px 11px 42px -15px rgba(0,0,0,0.75);
  box-shadow: -9px 11px 42px -15px rgba(0,0,0,0.75);
  border: 2px solid;
  border-radius: 7px;
}

.offeringName{
  margin-bottom: 30px;
  margin-left: 20px;
}

.offeringDescription {
  margin-left: 20px;
  font-size: 1.2em;
}

.contact{
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.column {
  width: 33.33333%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.column img {
  display: block;
  max-height: 150px;
  max-width: 90%;
}

.mailAndPhone a {
  line-height: 40px;
}

.culturepic,
.mailAndPhone {
  float: left;
  border-right: solid grey 2px;
}

.contact svg{
  margin-right: 10px;
}

.responsive {
  display: none;
}

/* search bar */

.searchcontainer{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.search{
  margin:20px;
  height: 40px;
  border: 2px solid black;
  font-size: 1.5em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.fa-search{
  color: black;
  margin: 5px;
}

.search > input{
  height: 100%;
}

/* languages */

.languages{
  width: 80%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row-reverse;
}

.language{
  margin: 10px;
  font-weight: bold;
}

.highlighted{
  font-weight: 900;
  color: black;
  border-bottom: 1px solid black;
}

.imprint{
  margin: 20px;
  width: 100%;
  text-align: center;
  display: block;
}

.contentful{
  width: 180px;
  display: block;
}

.backbutton{
  width: 15%;
  border: none;
  background: none;
}

.backbutton:hover{
  color: black;
}

@media (max-width: 1024px) {

  .category{
    width: 250px;
    height: 250px;
    margin: 20px;
  }

  .name {
    font-size: 1.8em;
    height: 70px;
  }

  .offering {
    width: 90%;
  }

  .contact {
    width: 100%;
  }

}

@media (max-width: 800px) {

  .categories,
  .offerings{
    margin-top: 0px;
  }

  .category{
    width: 180px;
    height: 180px;
    margin: 20px;
    padding: 0px;
  }

  .name {
    font-size: 1.25em;
    height: 55px;
    color: black;
  }

  .icon svg {
    height: 60px;
    color: black;
  }

  .maintitle > h1{
    width: 80%;
  }

  .description {
    font-size: 1.25em;
  }

  .searchcontainer{
    margin-top: 0px;
  }

  .offering {
    width: 100%;
  }

  .desktop {
    display: none;
  }

  .responsive {
    display: flex;
    flex-direction: column;
    line-height: 1px;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    font-size: 3em;
  }

}

@media (max-width: 500px) {

  .category{
    width: 120px;
    height: 120px;
    margin: 15px;
    border: 1px solid;
  }

  .maintitle h1{
    font-size: 2em;
    width: 100%;
  }

  .name {
    font-size: 0.75em;
    height: 30px;
    color: black;
  }

  .icon svg {
    height: 35px;
    color: black;
  }

  .maintitle > h1{
    font-size: 2em;
  }

  .description {
    font-size: 1em;
    width: 100%;
    margin: 20px auto 45px auto;
  }

  .levelheading{
    font-size: 1.2em;
    height: 120px;
    margin: 0 auto;
  }

  .levelheadingcontainer .fa{
    font-size: 1.2em;
  }

  .search{
    height: 30px;
    border: 2px solid black;
    font-size: 1em;
  }

  .offeringName,
  .offeringDescription {
    margin: 10px auto;
    width: 100%;
  }

  .culturepic {
    width: 100%;
    border: none;
  }

  .column {
    max-height: 100px;
    float: none;
  }

  .responsive {
    padding-top: 0;
    line-height: 25px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 0 auto;
    text-align: center;
  }

  .mailAndPhone {
    border: none;
    float: none;
    margin: 0 auto;
  }

  .responsive a {
    margin: 0 10px;
  }

  .openingHours {
    display: flex;
    align-items: center;
    justify-content: center;
    float: none;
    margin: 0 auto;
  }

  .contentful {
    width: 40%;
  }

}

@media (max-width: 400px) {

  .category{
    width: 100px;
    height: 100px;
    margin: 10px;
  }

  .name {
    font-size: 0.75em;
    height: 20px;
    color: black;
  }

  .icon svg {
    height: 30px;
    color: black;
  }

  .search{
    border: 1.25px solid black;
  }

  .offering {
    width: 100%;
  }

  .offeringName {
    font-size: 1.5em;
  }

  .offeringDescription {
    font-size: 1em;
  }

}

/* colors for second and third levels */

.color0{
  border: 2px solid rgba(157, 57, 57, 0.6);
}

.color1{
  border: 2px solid rgba(221, 136, 56, 0.6);
}

.color2{
  border: 2px solid rgba(69, 144, 173, 0.6);
}

.levelheadingcontainer{
  width: 100%;
  margin-top: 20px;
}

.levelheading{
  width: auto;
  padding: 20px;
  font-weight: 900;
  color: black;
  font-family: 'Varela Round', sans-serif;
  border: none;
}

.levelheading{
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.levelheading svg{
  margin-right: 30px;
  width: 0.3em !important;
}

.levelheadingcontainer .fa{
  font-size: 1em;
}
